<li>{{rental-in-component.owner}}'s {{rental-in-component.type}} in {{rental-in-component.city}}
  {{#if isImageShowing }}
  <p><img src={{rental-in-component.image}} alt={{rental-in-component.type}} {{action 'imageHide'}}></p>
 {{else}}
   <button {{action 'imageShow'}}>Show image</button>
{{/if}}
  <button {{action 'delete' rental-in-component}}>Delete</button>
</li>
